* {
  font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo',
    'Pretendard Variable', Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
  color: #222222;
}
body {
  background-color: antiquewhite;
}
.box {
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 70%;
  aspect-ratio: 1/1;
}

.descbox {
  display: flex;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
  width: auto;
  height: auto;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0);
}
#titleimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#descimg {
  position: absolute;
  width: 100%;
  transition: opacity 0.6s;
}

.descbox:hover > #descimg {
  opacity: 0.5;
  transition: opacity 0.6s;
}

.descbox:hover .btn {
  position: absolute;
  opacity: 1;
  transition: opacity 0.6s;
}

.btn {
  opacity: 0;
}

.btn-new {
  color: #fff;
  background-color: coral;
  border-color: coral;

  --bs-btn-color: #fff;
  --bs-btn-bg: coral;
  --bs-btn-border-color: coral;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(228, 115, 74);
  --bs-btn-hover-border-color: rgb(228, 115, 74);
  --bs-btn-focus-shadow-rgb: 217, 164, 6;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: coral;
  --bs-btn-active-border-color: coral;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: coral;
  --bs-btn-disabled-border-color: coral;
}

.mark {
  padding: 3px 10px;
  border-radius: 5%;
  margin-right: 3px;
  background-color: coral;
  color: white;
}

.line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.introtxt > ul > li {
  margin-bottom: 0.5rem;
}
.title {
  align-items: flex-end;
  justify-content: space-between;
}

.nav-link {
  color: #22222280;
}

.nav-link:focus {
  color: #22222280;
  font-weight: 600;
}

.nav-link:hover {
  color: #22222280;
  font-weight: 600;
}
/* p {
  margin-bottom: 0.5rem;
} */

@media screen and (max-width: 768px) {
  p {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  * {
    text-align: center;
  }
  .nav {
    justify-content: center !important;
  }
  .box {
    width: 85%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 70%;
    aspect-ratio: 1/1;
  }
  .descbox {
    width: 80%;
    margin: 0 auto;
    background-color: antiquewhite;
    border-radius: 70%;
    aspect-ratio: 1/1;
  }
  .intro .line {
    display: none;
  }
  .introtxt {
    display: table;
    margin-left: auto !important;
    margin-right: auto;
  }
}
